
@font-face {
  font-family: 'BPGIngiriArial';
  src: url('BPGIngiriArial.eot?#iefix') format('embedded-opentype'),  url('BPGIngiriArial.woff') format('woff'), url('BPGIngiriArial.ttf')  format('truetype'), url('BPGIngiriArial.svg#BPGIngiriArial') format('svg');
  font-weight: normal;
  font-style: normal;
}
