
@font-face {
  font-family: 'BPGGlaho';
  src: url('BPGGlaho.eot?#iefix') format('embedded-opentype'), 
  url('BPGGlaho.woff') format('woff'),
  url('BPGGlaho.ttf')  format('truetype'),
  url('BPGGlaho.svg#BPGGlaho') format('svg');
  font-weight: normal;
  font-style: normal;
}
