
@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src: url('BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),  url('BPGNinoMtavruli-Bold.woff') format('woff'), url('BPGNinoMtavruli-Bold.ttf')  format('truetype'), url('BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
